$font-family-base:  "Sans Serif", serif;
$color-black:#3e3e3e;
$color-white:#fff;
$hover-color:#d3995f;
$banner-sec-color:#f9f9f9;
$font-top-head:'Lato', sans-serif;
$montserrat-font:'Montserrat', sans-serif;
$light-dark:#686868;
$bottom-nav-bg:#292929;
$card-color:#eeeeec;
$color-purple:#875870;
$color-green:#427215;
$dark-cream:#c18c7c;
$blue-grey:#899ca4;
$sub-menu-bg-color:#d3d3d3;